 
.sidebar-menu{list-style:none;padding:0;overflow:auto}

.sidebar-menu li{padding:10px 20px;transition:background-color .3s}

.sidebar-menu li:hover{background-color:#2980b9}

.sidebar-menu li a{color:white;text-decoration:none}

.sidebar{position:fixed;left:-250px;top:0;width:250px;height:100%;background-color:#333;overflow-x:hidden;transition:.3s;padding-top:60px;z-index:999}

.show-sidebar{left:0}

.main-content{transition:margin-left .3s;padding:16px}

.show-content{margin-left:250px}

.hidden{display:none}
#open-btn{position:absolute;top:20px;left:20px;background-color:#333;color:white;padding:10px;border:none;font-size:18px;cursor:pointer;transform: translate(55cm,100px)}
#menu{color:aqua;font-size: 1cm;margin:30px}