# Kích hoạt mod_rewrite
RewriteEngine On

# Thiết lập trang lỗi 404 tùy chỉnh
ErrorDocument 404 /404.php

# Tắt hiển thị danh sách thư mục
Options -Indexes

# Ngăn chặn truy cập vào file badwords.txt
RewriteRule ^badwords\.txt$ /404.php [L]

# Ngăn chặn truy cập vào admin.php từ địa chỉ IP không phải là localhost hoặc từ cổng khác
RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
RewriteCond %{REMOTE_ADDR} !^::1$
RewriteCond %{SERVER_PORT} !^8000$
RewriteRule ^admin\.php$ /404.php [L]