# Kích hoạt mod_rewrite
RewriteEngine On

# Thiết lập trang lỗi 404 tùy chỉnh
ErrorDocument 404 /404.php

# Tắt hiển thị danh sách thư mục
Options -Indexes

# Ngăn chặn truy cập vào file badwords.txt
RewriteRule ^badwords\.txt$ /404.php [L]

# Điều kiện: Kiểm tra xem URL có thư mục lặp lại hay không
RewriteCond %{REQUEST_URI} ^/([^/]+)/\1/(.*)$
RewriteRule ^ /%1/%2 [L,R=301]

# Chặn truy cập vào thư mục logs và chuyển hướng đến trang lỗi 404
RewriteCond %{REQUEST_URI} ^/logs/
RewriteRule ^.*$ /404.php [L]
