body{font-family:'Poppins',sans-serif;background:linear-gradient(90deg,lavender,lightcyan);margin:0;padding:0}

h1,h2{color:#333;text-shadow:2px 2px 5px rgba(0,0,0,.3);text-transform:uppercase}

.container{width:95%;margin:auto;overflow:hidden;border:2px solid #ddd;padding:20px;background:rgba(255,255,255,.9);border-radius:15px;box-shadow:0 5px 20px rgba(0,0,0,.2)}

form{background:#fff;padding:30px;margin:30px 0;border-radius:10px;box-shadow:0 0 15px rgba(0,0,0,.2)}

input[type="text"],input[type="password"],textarea{width:100%;padding:15px;margin:15px 0;border:2px solid #ccc;border-radius:10px;font-size:16px;box-shadow:inset 0 0 10px rgba(0,0,0,.1)}

button{background:#5cb85c;color:white;padding:12px 20px;border:none;border-radius:10px;font-size:18px;cursor:pointer;transition:background-color .3s,transform .3s}

button:hover{background:#4cae4c;}

.error{color:red;font-weight:bold;margin:15px 0;text-transform:uppercase}

.success{color:green;margin:15px 0;font-size:18px;font-style:italic}

.spoil{background-color:#333;color:#333;padding:10px;cursor:pointer;border-radius:10px;transition:color .5s ease,opacity .5s ease;opacity:1;font-weight:bold}

.spoil.open{color:#fff;opacity:.3}

.post{background:linear-gradient(to bottom right,#e0f7fa,#b2ebf2);padding:15px;margin:15px 0;border-radius:10px;box-shadow:0 0 10px rgba(0,0,0,.2)}

.comment{background:linear-gradient(to bottom right,#fffde7,#fff9c4);padding:10px;margin:10px 0;border-radius:5px}

.admin-button{background-color:#FFD700;color:black;font-family:'Poppins',sans-serif;padding:15px 25px;font-size:18px;margin:10px;cursor:pointer;border:none;border-radius:20px;transition:background-color .3s,transform .3s,box-shadow .3s;box-shadow:0 4px 8px rgba(0,0,0,.2);display:flex;justify-content:center;align-items:center}

.admin-button:hover{background-color:#45a049;transform:scale(1.1);box-shadow:0 8px 16px rgba(0,0,0,.3)}

.alert{padding:10px;margin-bottom:20px;border:2px solid transparent;border-radius:10px;background-color:rgba(255,0,0,.8);color:white;font-size:18px}

.delete-button{background-color:darkred;color:white;border:none;padding:12px 25px;font-size:18px;cursor:pointer;border-radius:10px;transition:background-color .3s,transform .3s}

.delete-button:hover{background-color:red;transform:scale(1.05)}

.comments-container{max-height:0;overflow:hidden;transition:max-height .5s ease-out}

.comments-container.open{max-height:500px}

#mobile-warning{position:fixed;top:0;left:0;width:100%;height:100%;background-color:white;z-index:3000;display:flex;justify-content:center;align-items:center}

#mobile-warning .content{position:relative;background-color:transparent;color:white;z-index:3001}

#registerBtn{transition:background-color .3s ease,opacity .3s ease;opacity:.7}

#registerBtn:enabled{opacity:1}

#optionsMenu{display:block;position:absolute;background-color:#f9f9f9;min-width:160px;box-shadow:0px 8px 16px 0px rgba(0,0,0,.2);z-index:1;opacity:0;pointer-events:none;transition:opacity .5s ease,max-height .5s ease;max-height:0}

#optionsMenu a{color:black;padding:12px 16px;text-decoration:none;display:block}

#optionsMenu a:hover{background-color:#f1f1f1}

#optionsBtn{background-color:#4CAF50;color:white;padding:10px;font-size:16px;border:none;cursor:pointer}

#optionsBtn:hover{background-color:#3e8e41}

.pagination{display:flex;justify-content:center;align-items:center;margin:20px 0}

.pagination a{text-decoration:none;color:#007bff;padding:10px 15px;margin:0 5px;border:1px solid #007bff;border-radius:5px;transition:background-color .3s,color .3s}

.pagination a:hover{background-color:#007bff;color:white}

.pagination strong{background-color:#007bff;color:white;padding:10px 15px;border-radius:5px}
progress {width: 100%;height: 20px;}